# For local development
# MONGO_URI=mongodb://localhost:27017/grocerystore

# For Docker
# MONGO_URI=mongodb://mongo:27017/grocerystore

MONGO_URI=mongodb://localhost:27017/grocerystore
JWT_SECRET=changeme
PORT=3000